n8n-workflow.json
{
  "name": "Wazuh-Optimal-Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh",
        "options": {}
      },
      "id": "04e9a659-d44f-42be-b059-cb030c62a867",
      "name": "Wazuh Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        336
      ],
      "webhookId": "6d8d7ffa-d7db-4f0b-b4fd-3181fa40d41f"
    },
    {
      "parameters": {
        "functionCode": "let log = $json.body;\nif (log?.body) log = log.body;\n\n// 1. Identify the Windows Event Data path\nconst winData = log?.all_fields?.data?.win?.eventdata;\n\n// 2. Extract IPs (Handles both standard Wazuh fields and Sysmon Event 3)\nconst src_ip = winData?.sourceIp || log?.all_fields?.srcip || log?.all_fields?.src_ip || null;\nconst dst_ip = winData?.destinationIp || log?.all_fields?.dstip || log?.all_fields?.dst_ip || null;\n\n// 3. Extract SHA256 Hash (Regex handles the combined Sysmon hash string)\nconst raw_hashes = winData?.hashes || log?.all_fields?.hash || \"\";\nconst sha256_match = raw_hashes.match(/SHA256=([a-fA-F0-9]{64})/);\nconst file_hash = sha256_match ? sha256_match[1] : (log?.all_fields?.sha256 || null);\n\n// 4. Return structured JSON\nreturn [{ \n    json: { \n        ...log, \n        src_ip, \n        dst_ip, // Now included for your Level 10 test\n        file_hash \n    } \n}];"
      },
      "id": "1fbf2239-b9ea-4893-9733-e12994aa263e",
      "name": "Extract Indicators",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -272,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.src_ip}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.dst_ip}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b8243548-0c4a-44c5-ace2-ad1d1dcf0658",
      "name": "Has IP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -32,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.file_hash }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "afe073a1-8652-46bd-9f35-0f094fb7f5f0",
      "name": "Has Hash?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -32,
        464
      ]
    },
    {
      "parameters": {
        "url": "https://api.abuseipdb.com/api/v2/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ipAddress",
              "value": "={{$json.src_ip}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "<YOUR_ABUSEIPDB_API_KEY>"
            }
          ]
        },
        "options": {}
      },
      "id": "84698243-36d3-4898-972d-b2383ea69251",
      "name": "AbuseIPDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        240,
        80
      ]
    },
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/files/{{$json.file_hash}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "<YOUR_VIRUSTOTAL_API_KEY>"
            }
          ]
        },
        "options": {}
      },
      "id": "156e93d4-1783-40a0-9689-24e57cbd7b1e",
      "name": "VirusTotal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        224,
        560
      ]
    },
    {
      "parameters": {},
      "id": "dd29a6f6-e149-488c-9827-eeb11a75ec6e",
      "name": "Converge to AI",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://192.168.56.20/manage/cases/add",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <YOUR_IRIS_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "case_name",
              "value": "={{ 'SOC ALERT: ' + $('Extract Indicators').item.json.title}}"
            },
            {
              "name": "case_description",
              "value": "={{$json.choices[0].message.content}}"
            },
            {
              "name": "case_customer",
              "value": "1"
            },
            {
              "name": "case_severity_id",
              "value": "{{$json.final_severity}}"
            },
            {
              "name": "case_tlp_id",
              "value": "2"
            },
            {
              "name": "case_soc_id",
              "value": "={{ $json.rule_id || $json.all_fields?.rule?.id || '0' }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "73668104-8b9d-44ee-8e49-8eb1291baa09",
      "name": "IRIS Case Creation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1184,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <YOUR_GROQ_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.1-8b-instant"
            },
            {
              "name": "messages[0][role]",
              "value": "system"
            },
            {
              "name": "messages[0][content]",
              "value": "You are an enterprise Security Operations Center (SOC) Triage Analyst AI. Your role is to analyze structured cybersecurity alert data provided in JSON format and produce a professional triage report following a defined SOC playbook. You are a defensive security assistant only. You must strictly follow the workflow and guardrails below. ------------------------------------------------------------ SECTION 1 — INPUT VALIDATION ------------------------------------------------------------ 1. Confirm the input is valid JSON. 2. Ensure required fields exist: - alert_id - alert_type - indicator_type - indicator_value - source_host - destination_host - destination_ip - protocol - evidence.packet_count - evidence.time_window_seconds ------------------------------------------------------------ SECTION 2 — THREAT CLASSIFICATION ------------------------------------------------------------ Based strictly on the provided data, classify the likely activity as one of: - Brute Force Attempt - Network Reconnaissance / Scanning - Suspicious Network Volume - Possible Malware Communication - Benign Network Noise - Unknown Do NOT invent additional context. Do NOT assume facts not present in the alert. ------------------------------------------------------------ SECTION 3 — RISK RISK SCORING MODEL (0–100) ------------------------------------------------------------ Assign a numeric risk score between 0 and 100 using this guidance: Base Score Logic: - Packet count > 30: +20 - Packet count > 50: +30 - Packet count > 100: +40 - Repeated activity within short time window (less than 60s): +20 - Privileged service target (if known): +20 - ICMP flood behavior: +15 - Suspicious login behavior: +25 Cap score at 100. Then classify risk level: 0–29 → Low 30–59 → Medium 60–79 → High 80–100 → Critical Explain how the score was calculated. Do NOT fabricate additional indicators. ------------------------------------------------------------ SECTION 4 — MITRE ATT&CK MAPPING ------------------------------------------------------------ Map the activity to the most relevant MITRE ATT&CK tactic and technique. Examples: - T1110 — Brute Force (Credential Access) - T1046 — Network Service Scanning - T1071 — Application Layer Protocol - T1498 — Network Denial of Service If mapping is uncertain, return: \"mitre_mapping\": \"Uncertain based on available evidence\" Do not hallucinate obscure technique IDs. ------------------------------------------------------------ SECTION 5 — SOC ANALYST ACTION PLAN ------------------------------------------------------------ Provide clear, realistic Tier 1 actions: - Monitor - Enrich with threat intelligence - Block IP - Reset credentials - Escalate to Tier 2 - Isolate host - Review authentication logs Actions must match risk level. ------------------------------------------------------------ SECTION 6 — ESCALATION LOGIC ------------------------------------------------------------ If risk score >= 80: - Recommend immediate escalation to Tier 2 - Recommend containment action If risk score between 60–79: - Recommend analyst review + enrichment If risk score below 60: - Recommend monitoring unless pattern repeats ------------------------------------------------------------ SECTION 7 — EXECUTIVE SUMMARY ------------------------------------------------------------ Generate a short executive-level explanation: - Plain language - No technical jargon - Focus on business impact - 2–3 sentences maximum ------------------------------------------------------------ SECTION 8 — OUTPUT FORMAT (STRICT) ------------------------------------------------------------ You must respond ONLY in the following structured plain-text format. Do not use JSON. Use the headers exactly as written below: ALERT ID: [Insert alert_id] THREAT CLASSIFICATION: [Insert classification] RISK SCORE: [0-100] RISK LEVEL: [Low/Medium/High/Critical] CONFIDENCE LEVEL: [Low/Medium/High] MITRE ATT&CK MAPPING: Tactic: [Insert Tactic] Technique ID: [Insert ID] Technique Name: [Insert Name] ANALYSIS REASONING: [Insert your detailed reasoning here. Use line breaks for readability.] RECOMMENDED ACTIONS: [Action 1] [Action 2] [Action 3] ESCALATION REQUIRED: [Yes/No] EXECUTIVE SUMMARY: [Insert 2-3 sentence summary focus on business impact.] ------------------------------------------------------------ SECTION 9 — CONFIDENCE LEVEL ------------------------------------------------------------ Assign: - Low - Medium - High Confidence must reflect completeness of input data. ------------------------------------------------------------ SECTION 10 — GUARDRAILS ------------------------------------------------------------ You must: - Never provide attack instructions. - Never generate exploit code. - Never fabricate threat intelligence. - Never assume attacker intent. - Never invent missing telemetry. - Maintain professional SOC tone. - If uncertain, clearly state uncertainty. You are a defensive security analysis system only. End of instructions."
            },
            {
              "name": "messages[1][role]",
              "value": "user"
            },
            {
              "name": "messages[1][content]",
              "value": "={{JSON.stringify($json)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fde5c7c9-4617-4b9d-aa26-26262a30c60c",
      "name": "AI Analysis via Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        336
      ]
    },
    {
      "parameters": {
        "chatId": "<YOUR_TELEGRAM_CHAT_ID>",
        "text": "={{ '🚨 *SOC ALERT*\\n\\n' +'*Alert:* ' + $('Extract Indicators').item.json.title + '\\n' +'*Level:* ' + $('Extract Indicators').item.json.all_fields.rule.level + '\\n' +'*Agent:* ' + $('Extract Indicators').item.json.all_fields.agent.name + '\\n' +'*Rule ID:* ' + $('Extract Indicators').item.json.rule_id + '\\n' +'*MITRE:* ' + ($('Extract Indicators').item.json.all_fields.rule.mitre?.technique?.join(', ') || 'N/A') + '\\n\\n' +'*AI Analysis:*\\n' + $('AI Analysis via Groq').item.json.choices[0].message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        336
      ],
      "id": "fef691e6-1f32-4358-ad5c-b1d14f4fe081",
      "name": "Alert Notification via Telegram",
      "webhookId": "74085b2c-d479-4263-9b12-82ffff377058",
      "credentials": {
        "telegramApi": {
          "id": "wdnJcA54MJc3Fyaw",
          "name": "Credentials"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wazuh Webhook": {
      "main": [
        [
          {
            "node": "Extract Indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Indicators": {
      "main": [
        [
          {
            "node": "Has IP?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Hash?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has IP?": {
      "main": [
        [
          {
            "node": "AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converge to AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Hash?": {
      "main": [
        [
          {
            "node": "VirusTotal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converge to AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AbuseIPDB": {
      "main": [
        [
          {
            "node": "Converge to AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal": {
      "main": [
        [
          {
            "node": "Converge to AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converge to AI": {
      "main": [
        [
          {
            "node": "AI Analysis via Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis via Groq": {
      "main": [
        [
          {
            "node": "IRIS Case Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IRIS Case Creation": {
      "main": [
        [
          {
            "node": "Alert Notification via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4bba4e32-1bec-49b2-9186-cc8e4aa9e2d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d806d7bf4750b1ab12a48d2f4a95c7c12200ffa302cbf7be3375a99837b4c05d"
  },
  "id": "b73RvbvmVj1zQerW",
  "tags": []
}